{%extends 'base.html' %}
{%block title%}
ABOUT
{%endblock%}
{%block content%}
<h1>WELCOME TO CITY HOSPITAL</h1>
<br> <p>Welcome to our hospital, where compassionate care meets cutting-edge medical advancements. We are dedicated to providing exceptional healthcare services to our patients, ensuring their well-being and recovery. Our team of highly skilled and compassionate medical professionals, including doctors, nurses, and support staff, is committed to delivering personalized and comprehensive treatment. Equipped with state-of-the-art facilities and the latest medical technology, we strive to deliver the highest quality of care in a safe and comfortable environment. Whether you require routine medical services, specialized treatments, or emergency care, we are here to serve you with integrity, expertise, and a deep sense of empathy. Your health and wellness are our top priorities, and we are honored to be your trusted partner on your journey to healing and good health.</p>
<br>
<br>

<div class="card">
    <div class="card-header bg-info w-30">
      Quote
    </div>
    <div class="card-body" w-30>
      <blockquote class="blockquote mb-0">
        <p>It is health that is real wealth and not pieces of gold and silver." </p>
        <footer class="blockquote-footer"> Mahatma Gandhi. <cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
{%endblock%}