{%extends 'base.html' %}
{%block title%}
Contact
{%endblock%}
{%block content%}
<h1 class="text-center">Contact Us</h1>
<div class="mx-auto w-50 bg-success text-center text-white p-3 my-3 border border-warning rounded">
    <div class="card-body">
      <h5 class="card-title">phone Number</h5>
      <p class="card-text">+91 0123456789.</p>
    </div>
  </div>
  
  <div class="mx-auto w-50 bg-success text-center text-white p-3 my-3 border border-warning rounded">
    <div class="card-body">
      <h5 class="card-title">Email Addresss</h5>
      <p class="card-text">CityHospital@gmail.com</p>
     
    </div>
  </div>
{%endblock%}